@charset "utf-8";

/*Estilos do body*/
body{    
    font-size: 18px;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}

/* Estilos do header e da navegação */
header nav{
    background-color: #f2f2f2;
    padding: 3px;
    display:flex;
    align-items: center;
    border-radius: 5px;
    box-shadow: 2px 2px 2px #000;   
    position: relative;
}

nav img{
width: 70px;
height: 70px;
margin-right:10px;
}

/*Estilos do main*/

main{
    background-color:#fff;
    border:1px solid #bfb8b8;
    padding:35px 5px;
    text-align: center;
    border-radius: 5px;
    box-shadow: 2px 2px 2px #000;
}

main span{
    display: inline-block;
    margin-right: 10px;
}

#item_usuario1 {
    width: 50px; 
    height: 35px;
}
#item_usuario2 {
    height: 35px;
}
#item_usuario3 {
    width: 120px; 
    height: 35px;
}
p{
    text-align: right;
    margin-right: 5px;
}
#corpo li{
    text-align: left;
    margin-bottom: 25px;
}
.valor_item {
    position:absolute;
    right: 40px;
}

ol{
    list-style-type: none;
}
.valor_item{
    width: 48px;
    height: 35px;
}

.f_botao{    
    background-color: black;
    color:white;
    padding:6px 26px ;
    margin-top: 10px ;
    margin-bottom: 10px;
    cursor:pointer;
}

.f_botao:hover{
    
    padding:8px 28px;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 2px 2px 2px rgb(2, 0, 0);   

}